<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
       <ul>
           <li>
               Educacional Buenos Aires, Bachiller Ciencias Sociales (2016)
           </li>
           <li>
               Universidad Tecnologica Nacional, Ing.Sistemas de Informacion(Actualidad)
            </li>
           <li>
              Neoris y UTN BA, Testing manual Agil con herramientas de Gestion (2021)
           </li>
           <li>
            Asociacion Iberoamericana de Scrum, Fundamentos de Scrum(2021)
           </li>
       </ul>
    </div>
   </div>
